<%- include("./partials/header.ejs") %>    
<body>
    <div class="container header-container">
        <div class="text-container">
            <p>Cooking is an art, but all art requires knowing something about the techniques and materials.</p>    
        </div>
    </div>

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="images/chef.png" alt="" width="72" height="65">
        <h1 class="display-5 fw-bold text-body-emphasis">Chef Land</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Welcome to Chef Land, your ultimate destination for delicious and easy-to-follow recipes.
             Whether you're a seasoned chef or a beginner in the kitchen, our collection has something for everyone.
              From quick weeknight dinners to indulgent desserts, we provide step-by-step instructions to make cooking a breeze. 
              Explore our diverse range of recipes and discover new favorites for every occasion. 
              Start cooking today and bring your culinary creations to life with us!</p>
        </div>
    </div>


    <% if(locals.error){%>
      <%= error %>
    <%}else{%>
      <div class="container mt-5">
        <h2>type here the recipe you are looking for</h2>
        <form action="/recipe" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" name="data" placeholder="Search for recipes..." aria-label="Search for recipes" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
        </form>
    </div>
    <%} %>
  

    <br>


  
    <div class="image-container">
        <div class="card" style="width: 18rem;">
            <img src="images/pasta image.jpg" class="card-img-top" alt="pasta">
            <div class="card-body">
              <p class="card-text">Enjoy the simplicity and flavor of freshly made pasta, a timeless dish that never fails to satisfy.
                 Perfectly cooked, it pairs beautifully with a variety of sauces.
                 A true comfort food favorite</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="images/asian food.jpg" class="card-img-top" alt="asian food">
            <div class="card-body">
              <p class="card-text">Asian cuisine offers a delightful mix of bold flavors and aromatic spices.
                 From savory stir-fries to delicate sushi, each dish tells a unique story. 
                 It's a journey for your taste buds, full of variety and excitement.</p>
            </div>
        </div>
    </div>

<%- include("./partials/footer.ejs") %>    